<!DOCTYPE html>
<html lang="en">
<head>
  <title>N'gboadô | {{ info.group.name }}</title>
 {% include '../ngboado/partial/header.twig' %}

{# 
<!--------------------------------------------->
<!--  MENUS CONTAINER (two firsts bars) END  -->
<!---------------------------------------------> #}
</div>

  <button type="button" class="btn btn-primary" id="mybutton" data-toggle="modal" data-target="#exampleModalLong" style="display: none">
  </button>
    {# <!-- Modal --> #}


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 img-cover" style="background: url('../medias/images/{{info.group.couverture}}')">
        <div class="col-xs-8 col-xs-offset-4 infogroup">
          {% for item in info.membre %}
            {% if loop.index < 5 %}
                  <a href="/ownL/{{item.emailcrypt}}" > <img src="../medias/icon/user profil/africa/{{item.profil}}" class="img-responsive img-circle deplacement-img" alt=""></a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% if info.isAdmin == 1 %}
    <div class="row well well-sm task-bar" style="background-color: ; color:#ddd;">
      <div class="col-sm-12">
        <div class="row text-center">

          <div class="col-xs-offset-4 col-xs-1">
            <a href=""><img src="../medias/icon/icon services/notification/message4.png" class="img-responsive" width="30" height="30" alt=""></a>
          </div>

          <div class=" col-xs-1">
            <a href=""><img src="../medias/icon/icon services/services/gps.png" class="img-responsive" width="30" height="30" alt=""></a>
          </div>

          <div class="col-xs-1">
            <a href=""><img src="../medias/icon/icon services/services/events1.png" class="img-responsive" width="30" height="30" alt=""></a>
          </div>

          <div class="col-xs-1">
            <a href=""><img src="../medias/icon/icon services/services/foll.png" class="img-responsive" width="30" height="30" alt=""></a>
          </div>
          
        </div>
      </div>
    </div>
    {% endif %}
    
    
  </div>

  <div class="container" style="margin-bottom:50px">
    <div class="row">
      <div class="col-sm-2 hidden-xs" style="z-index: 10; border-radius: 50%;" id="profile-container">
        <div class="well text-center myprofile" style="background-color: #fff; ">
          <a href="/ownL/{{ user.emailcrypt }}"><img src="../medias/icon/user profil/africa/{{ user.profil }}" class="img-thumbnail" id="profile-img" alt="Avatar" style="border-radius: 50%;">
            <div class="desc bg-primary">Mon Profile</div>
          </a>
        </div>
      </div>


      <div class="col-sm-7">
        
        {% if info.isAdmin == 1 or info.isAdmin == 0 %}
        <div class="row">
          <div class="col-sm-12" style="background-color: #F4F4F4; margin-bottom: 25px; padding-bottom: 20px;  border-radius: 0;">
            <div class="row">
              <div class="panel-heading  title-of-pub" style="font-weight: bold; position: relative;">Publier un article dans la Communauté maintenant ! <span class="glyphicon glyphicon-plus" style="font-size: 14px; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></span></div>
              <div class="col-sm-12 reduce" style="padding-top:15px;  border-radius: 0;">
                <form action="" method="POST" style="" id="comment-form" style="display: none;">
                  <div class="form-group col-sm-12 ">
                    <textarea name="comment" id="comment" class="form-control demoTextarea" rows="1" placeholder="Publiez dans la Communauté.."></textarea>
                  </div>
                  <div class="media_publish col-xs-12">
                    <div class="img-media">
                      <a href=""><img src="../medias/icon/icon services/services/foll.png"  class="img-responsive" width="30" height="30" alt=""></a>
                    </div>
                    <div class="media-button">
                      <button class="btn btn-default btn-md stopComment" style="border-radius:1px; margin: 4px 0;">Annuler
                      </button>
                      <button type="submit" class="btn btn-md" id="send-comment" style="border-radius:1px; background: linear-gradient(90deg, #3D952B, #336699); color: white; margin: 4px 0">Publier
                      </button><br><br>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        
        


        {# <!-- Publications  --> #}
        {% set month = ["Jan", "Fev", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"] %}
        {% for item in info.publish %}
          <div class="row" style="margin-bottom: 40px;">
            <div class="col-sm-12" style="background-color: #fff; position: relative;top : -20px;">
              <div class="row">
                <div class="col-sm-12 publication " style="position: relative;top : 20px;">
                  <div class="row">
                    <div class="col-sm-12 publication-block" style="background-color: #fff;">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="col-xs-2 event-date text-center">
                            {{item.jr}}<br>{{month[item.mt]}}
                          </div>
                          <div class="col-xs-10 event-title">{{item.title}}<br><small>{{item.hr}}:{{item.mn}}</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 published" style="background-color: #fff">
                          <video src="medias/videos/livre.mov" height="100%" width="100%;" controls>

                          </video>
                        </div>
                        <div class="col-sm-12 identity">
                          <div class="time-out-of-this" style="font-size: 10px;">
                          <img src="../medias/icon/user profil/africa/{{item.profil}}" height="60" width="60" style="border-radius: 50%;">


                            <blockquote style="font-size: 12px;">
                              <strong>{{item.nom}}</strong> a publié un article<br>
                              <small><script>horodatage("{{item.register_date}}")</script></small>
                            </blockquote>

                            <div class="menuPub">
                                <img src="../medias/icon/logo/menu.png"  alt="">
                            </div>



                          </div>
                          <p class="title-comment well">{{item.content}}
                            <span class="media-discussion">
                              <img src="../medias/icon/reactions/like1.png" alt="" style="cursor: pointer;">
                              <img src="../medias/icon/reactions/coment.png" alt="" class="coments" style="cursor: pointer;">
                              <img src="../medias/icon/reactions/sad.png" alt="" style="cursor: pointer;">
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-sm-12" style="background-color: #fff; position: relative;top : -20px; padding: 25px;">
              <div class="row">
                <div class="container-chat">
                      <img src="/w3images/bandmember.jpg" alt="Avatar">
                      <p>Je vais bien ! Merci de me le demander</p>
                      <span class="time-left">11:01</span>
                    </div>

                    <div class="container-chat">
                      <img src="/w3images/bandmember.jpg" alt="Avatar">
                      <p>De rien ! C'est normal. Que fais tu ce soir ?</p>
                      <span class="time-right">11:02</span>
                    </div>

                    <div class="container-chat darker">
                      <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
                      <p>Je pense rester à la maison pour coder </p>
                      <span class="time-left">11:05</span>
                    </div>

                    <form>
                      <div class="form-group">
                        <label for="comment">Commenrter : </label>
                        <textarea class="form-control" rows="3" id="comment" style="box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);"></textarea>
                        <input type="submit" class="btn btn-info btn-lg" value="Envoyer" style="border-radius: 10px!important;">
                      </div>
                    </form>
                  </div>

            </div>
          </div>
        {% endfor %}
        

      </div>

          <div class="col-sm-3 text-center" style="color: #000; border-radius: 0;">

            <div class="col-sm-12 " style="background-color: none;">
              <strong><h4 class="desc-event">A LA UNE</h4></strong>
            </div>

            <div class="col-sm-12 " style="background-color: none;">
              <div class="thumbnail">
                <div class="panel-heading" style="background: linear-gradient(90deg, #3D952B, #336699); color: white;"><i>Evenement à la une</i></div>
                <img src="../medias/images/group7.jpg" alt="Paris" width="400" height="300" class="img-responsive">
                  <p><strong>A Daloa (ville propre)</strong></p>
                  <p>prevu le 16 Juillet 2019</p>
                <button class="btn" style="background: linear-gradient(90deg, #3D952B, #336699); color: white;">Info</button>
              </div>
              <div class="thumbnail">
                <div class="panel-heading" style="background: linear-gradient(90deg, #3D952B, #336699); color: white;"><i>Evenement à la une</i></div>
                <img src="../medias/images/group2.jpg" alt="Paris" width="400" height="300">
                <p><strong>Bassam (n'gboadô enfant C.I)</strong></p>
                <p>prevu le 28 Decembre</p>
                <button class="btn" style="background: linear-gradient(90deg, #3D952B, #336699); color: white;">Info</button>
              </div>
              <a href="" style="text-decoration: none;">Voir plus ...</a>

            </div>
          </div>

          {# <!-------------------------------------------------> #}
          {# <!-- 			CHAT'S COMMENTS COVER 			 --> #}
          {# <!-------------------------------------------------> #}
          <div class="comments-cover col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #273746; width: 100%; height: 100%; background-size: cover; position: fixed; left: 0%; top: 0px; opacity: .6; display: none">

          {# <!-------------------------------------------------> #}
          {# <!-- 			CHAT'S COMMENTS END COVER		 --> #}
          {# <!-------------------------------------------------> #}
          </div>

          {# <!-------------------------------------------------> #}
          {# <!-- 			  INBOX CHAT CONTAINER                 --> #}
          {# <!-------------------------------------------------> #}
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xs-push-9 col-sm-push-9 col-md-push-9 col-lg-push-9 col-xl-push-9 inbox-block">
            <div class="row">
              {# <!--======-- inbox container --======--> #}
              <div class="col-lg-12" style="">
                <div class="row">
                  {# <!--======-- div top with #273746 background color --======--> #}
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: linear-gradient(70deg, #336699, #3D952B); opacity: .9; height: 180px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
                    <div class="row">
                      {# <!--======-- exit and settings chat container --======--> #}
                      <div class="container-icons-settings col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-xs-push-7 col-sm-push-7 col-md-push-7 col-lg-push-7 col-xl-push-7" style="margin-top: 5px;">
                        <div class="row">

                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img src="../medias/icon/icon services/parametres/settings.png" height="17" class="setting-chat-icon">
                          </div>

                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 closeChat" style="padding-top: 1px;">
                            <img src="../medias/icon/icon services/logout/cloz.png" height="18" class="logout-chat-icon" title="log out">
                          </div>

                        </div>
                      {# <!--======-- exit and settings chat container end --======--> #}
                      </div>

                      {# <!--======-- text of last chat --======--> #}
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">

                          <div class="last-chat-text col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <center><h4>Vos dernières causeries</h4></center>
                          </div>

                        </div>
                      {# <!--======-- text of last chat end --======--> #}
                      </div>

                      {# <!--======-- last chat profil's container --======--> #}
                      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-11 col-xs-push-1 col-sm-push-1 col-md-push-1 col-lg-push-1 col-xl-push-1" style="margin-left: 10px; margin-top: 10px;">
                        <div class="row">

                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="row" style="cursor: pointer;">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img class="friend-icon-last-chat" src="medias/icon/user profil/africa/userGirl05.jpg">
                              </div>

                              <div class="friend-name-last-chat-container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="friend-name-last-chat">Evelyne</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="row" style="cursor: pointer;">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img class="friend-icon-last-chat" src="medias/icon/user profil/africa/userGirl07.jpg" id="second-friend-last-chat">
                              </div>

                              <div class="friend-name-last-chat-container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="friend-name-last-chat">Cynthia</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="row" style="cursor: pointer;">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img class="friend-icon-last-chat" src="medias/icon/user profil/africa/userBoy09.jpg">
                              </div>

                              <div class="friend-name-last-chat-container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class="friend-name-last-chat">Quentin</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      {# <!--======-- last chat profil's container --======--> #}
                      </div>

                    </div>
                  {# <!--======-- div top with #273746 background color end --======--> #}
                  </div>

                  {# <!--======-- sent and received messages container --======--> #}
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; height: 190px;">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 190px; overflow-x: hidden; overflow-y: scroll;">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 300%; margin-left: -13px; width: 150%; ">

                        </div>
                      </div>
                    </div>
                  {# <!--======-- sent and received messages container end --======--> #}
                  </div>

                  {# <!--======-- input message --======--> #}
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; height: 45px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-top: 1px solid silver;">
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-left: 2px;">
                        <input type="text" class="form-control" id="" aria-describedby="textHelp" placeholder="Envoyer un message..." style="border: none; margin-left: -14px; height: 42px; width: 125%; font-size: 0.8em;">
                      </div>

                      <div class="emoji-chat-container col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img class="emoji-chat-icon" src="medias/icon/reactions/emoji.png">
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img class="send-chat-icon" src="medias/icon/reactions/sent.png">
                          </div>

                        </div>
                      </div>
                    </div>
                  {# <!--======-- input message end --======--> #}
                  </div>
                </div>
              {# <!--======-- inbox container end --======--> #}
              </div>
            </div>
            {# <!-------------------------------------------------> #}
            {# <!--      INBOX CHAT CONTAINER END         --> #}
            {# <!-------------------------------------------------> #}
          </div>

          {# <!-------------------------------------------------> #}
          {# <!-- 			   POSTS COMMENTS           	 --> #}
          {# <!-------------------------------------------------> #}
          <div class="posts-comments-great-container col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-push-3 col-sm-push-3 col-md-push-3 col-lg-push-3 col-xl-push-3" style="display: none">
            <div class="row">
              <div class="comments-container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">

                  {# <!-------------------------------------------------> #}
                  {# <!-- 			 TITLE POSTS COMMENTS            --> #}
                  {# <!-------------------------------------------------> #}
                  <div class="title-answer-text col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4><center> Repondre à Dion Bailly </center></h4>
                  {# <!-------------------------------------------------> #}
                  {# <!-- 		    TITLE POSTS COMMENTS END         --> #}
                  {# <!-------------------------------------------------> #}
                  </div>

                  {# <!------------------------------------------------------------> #}
                  {#    POST-COMMENTED WITH POSTER PROFIL AND THE POST               #}
                  {# <!------------------------------------------------------------> #}
                  <div class="poster-profil-with-commmented-post col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 36px;">
                        <img src="../medias/icon/user profil/africa/userGirl02.jpg" height="40" width="40" style="border-radius: 50%; margin-left: 6px; border: 1px solid white;">
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: 24px; margin-left: -80px;">
                        <blockquote>
                          <p style="font-weight: bold; font-size: 12px; color: white;">Dion Bailly</p>
                          <small style="font-size: 10px; color: white;">il y a 2 jours</small>
                        </blockquote>
                      </div>

                      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height: 110px; width: 30%; margin-left: 140px; margin-top: 3px;">
                        <div class="row">
                          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <center>
                              <img src="../medias/images/benevoles.jpg" class="img-responsive" style="opacity: .5; margin-left: 15px; margin-bottom: 5px;"/>
                            </center>
                          </div>

                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <small style="font-size: 9px; color: silver; line-height: 10px;">
                              <center>
                                et fringilla urna placerat. Cras et fringilla urna placerat. Cras urna placerat. Cras......
                              </center>
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  {# <!------------------------------------------------------------> #}
                      {# POST-COMMENTED WITH POSTER PROFIL AND THE POST END #}
                  {# <!------------------------------------------------------------> #}
                  </div>

                  {# <!-------------------------------------------------> #}
                  			  {# SEND MESSAGE INPUT          	 #}
                  {# <!-------------------------------------------------> #}
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: -2.5%;">
                    <input type="text" class="form-control" id="" aria-describedby="textHelp" placeholder="Ecrire un commentaire..." style="border-radius: none; height: 48px; width: 105.5%; font-size: 1em; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                  </div>

                </div>
              </div>
            </div>
          
           			   {# POSTS COMMENTS            #}
          
          </div>

        </div>
      </div>



  </div>



{# <!------------------------------------------------->
            <!-- THIRD BAR CONTAINER (chat bar fixed bottom) -->
            <!-------------------------------------------------> #}
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="blue-bar-container-chat">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <nav class="navbar navbar-default navbar-fixed-bottom" id="navbar-chat" role="navigation" style="overflow-y: scroll;">
          <div style="width: 100%; height: 100%; background-color: ;">
            <div style="width: 300%; height: 100%; overflow-y: scroll; margin-left: 0.5%">

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userBoy09.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Gilles Quentin Gourou
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/arabe/userGirl0.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Fatim Myriam Sanogo
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/arabe/userGirl13.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Karidjatou Awa Mandy
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/arabe/userBoy02.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Emir Mokthar Alioun
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/blanc/userBoy05.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Severino Andrès Zabim
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/blanc/userGirl04.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Marie Claire Delafausse
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/blanc/userGirl3.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Sylvienne Jean Zigler
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/blanc/userBoy8.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Antoine Faure Leonard
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl05.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Baunom Eve Gnepo
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl25.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Stéphanie André N'cho
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl09.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Andréa Téré Christelle
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userBoy18.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Lionel Dogny Kokora
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl06.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Manuella Carine Koua
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl02.jpeg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Regina Elvyra Loba
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl07.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Carine Gisèle Kouamé
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl08.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Armelle Cynthia Diako
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl29.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Emmanuelle Ma Goh
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userChildBoy0.jpeg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Kyllian Samuel N'tep
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="dixineuvieme-friend-chat">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userBoy10.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Rochel Ryu Wilfried
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="vingtieme-friend-chat">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userBoy23.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Etienne Yahou Dibi
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="vingtetunieme-friend-chat">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userGirl08.jpg" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Armelle Cynthia Diako
                  </div>
                </div>
              </div>

              <div class="friend-chat-container col-xl-1 col-lg-1 col-md-1 col-sm-1" id="vigntdeuxiieme-friend-chat">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="margin-top: 7px;">
                    <img src="../medias/icon/user profil/africa/userBoy18.png" height="26" width="26" class="friend-chat-icon">
                  </div>

                  <div class="friend-chat-name col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    Lionel Dogny Kokora
                  </div>
                </div>
              </div>

            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $(".title-of-pub").click(function(){
        $(".reduce").slideToggle(1000);
        $(".title-of-pub span").toggleClass("glyphicon-minus");
      });

        $(".demoTextarea").keyup(function(){
          if(!$("#comment").val() < 1){
            $(".stopComment").fadeIn(1000);
            $("#send-comment").aniname();
          }else{
            $(".stopComment").fadeOut(1000);
            $("#send-comment").animate({opacity : ".7"});
          }

        });



      $(function(){
        $('textarea').textAdjust()
      });
      $('textarea').textAdjust({
        min: 3,
        max: 20
      });


    });

    function reaction(){
      $("#mybutton").click();
    }


  </script>
{# <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script> --> #}

<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/scripts_actualite.js"></script>

<!--------------------------------------------->
<!--   IMPORTED JAVASCRIPT'S BALISES       -->
<!--------------------------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
